* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;

}

body {
    background: #E5E5E5;
}

.header__nav {
    background: #FFFFFF;
    padding: 20px 30px;

    
    .logo {
        font-weight: 700;
        font-size: 25px;
        line-height: 120%;
        text-transform: uppercase;
        color: #3F3F3F;
    }
}

.main {
    padding: 20px 0 50px 0;
    
    
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
       
    }
   
    &__search {
        position: relative;
        max-width: 585px;
        width: 100%;
        

        &-input {
            width: 100%;
            background: #FFFFFF;
            border-radius: 4px;
            border: none;
            outline: none;
            padding: 10px 20px;
            font-size: 14px;
            line-height: 120%;
            color: #C2C2C5;
        }

        &-close {
            position: absolute;
            right: 5px;
            top: 5px;
        }

        &-btn {
            margin-top: 40px;
            margin-bottom: 20px;
            background: #3F3F3F;
            border-radius: 4px;
            color: #FFFFFF;
            font-size: 14px;
            line-height: 120%;
            text-transform: uppercase;
            padding: 10px;
            cursor: pointer;
            border: none;
            outline: none;
        }
    }
    

    &__user {
        
        max-width: 310px;
        width: 100%;
        background: #FFFFFF;
        border-radius: 6px;
        display: flex;
        gap: 10px;
        padding: 13px 32px;
        
        

        &-left {
            width: 100px;
            display: flex;
            flex-direction: column;
            gap: 3px;

            & img {
                width: 100%;
               

            }

          
        }
        &-link {
            background: #3F3F3F;
            border-radius: 6px;
            padding: 9px 15px;
            font-weight: 300;
            font-size: 14px;
            line-height: 120%;
            color: #FFFFFF;
        }
        &-right{
            display: flex;
            flex-direction: column;
            gap: 10px;
            font-size: 14px;
        }
        
        
    }
    
    
}
.error h2 {
    margin-top: 20px;
    color: red;
    }
.repo{
 width: 100%;
 display: grid;
 grid-template-columns: repeat(2,1fr);
 gap: 30px;
 margin-top: 20px;
 &__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: #FFFFFF;
    border-radius: 4px;
    &-left{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
       
     &-link{
        background: #3F3F3F;
        border-radius: 6px; 
        padding: 9px 15px;
        font-weight: 300;
        font-size: 14px;
        line-height: 120%;
        color: #FFFFFF;
     }

    
 }
}